body {
    background-color: rgb(122, 122, 122);
}

.content {
    display: inline-block;
    margin-left: 50px;
    top: 10vh;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

li {
    color: #ffffff;
}

p {
    margin-top: 50px;
    color: #ffffff;
}

#game-window {
    display: inline-block;
    margin-left: 20vw;
    margin-top: 10vh;
}